
@page
@model Providers_IndexModel

<h2>Proveedores</h2>

<a class="btn btn-primary mb-3" asp-page="Create">Crear Proveedor</a>

<table class="table table-bordered">
<thead>
<tr>
<th>ID</th>
<th>Nombre Completo</th>
<th>Email</th>
<th>Teléfono</th>
<th>Acciones</th>
</tr>
</thead>
<tbody>
@foreach(var p in Model.List){
<tr>
<td>@p.Id</td>
<td>@p.FirstName @p.LastName</td>
<td>@p.Email</td>
<td>@p.Phone</td>
<td>
    <a class="btn btn-warning btn-sm" asp-page="Edit" asp-route-id="@p.Id">Editar</a>
    <a class="btn btn-danger btn-sm" asp-page-handler="Delete" asp-route-id="@p.Id">Eliminar</a>
</td>
</tr>
}
</tbody>
</table>
